/* *{ outline:1px solid #f00; } */
.btn{
	border-radius:0;
}
footer{
	background-color:#333;
	color:#fff;
	padding-top: 40px;
}
footer .container{
	padding-bottom: 40px;
}
footer h3{
	color:#9d9d9d;
	font-size: 18px;
}
footer a{
	color:#fff;
	text-decoration: none;
}
footer .footerOurAdvantage .btn{
	background-color:#2BC8FF;
}
.copyRight{
	background-color:#000;
	color:#9d9d9d;
	font-size: 12px;
	line-height: 46px;
	height: 46px;
}
.footerAbout ul{
	-webkit-columns:2;
	-moz-columns:2;
	-ms-columns:2;
	-o-columns:2;
	columns:2;
}
.footerAbout li{
	line-height: 2;
}
.navbar-inverse .navbar-nav > li > a{
	color:#fff;
	font-weight: 100;
}
.navbarUser{
	padding-right: 20px;
}
@media screen and (max-width:767px){
	.navbarUser.pull-right{
		float: left!important;
		padding-right: 0px;
	}
}
.navbarUser a{
	color:#fff;
	font-weight: 100;
	line-height: 50px;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbarUser a:hover{
	color:#2BC8FF;
}


.mainNav{
	margin-bottom: 0;
	z-index: 10;
	background-image:none;
	background-color:rgba(0, 0, 0, .8);
}
.navbarList{
	padding-right: 10px;
}
.indexMap{
	width: 100%;
	height: 0;
	position: relative;
	padding-bottom: 42%;
}
.indexMap .map{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.indexMap .map iframe{
	width: 100%;
	height: 100%;
	border:none;
}
.mainSearch{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 46px;
}
.mainSearch .btn{
	background-color:transparent;
	color:#8a8a8a;
}
.mainSearch .input-group{
	height: 46px;
	border:1px solid #8a8a8a;
	border-radius: 23px;
	background-color:#fff;
	overflow: hidden;
}
.mainSearch .input-group .form-control{
	border:none;
	box-shadow:none;
	border-radius: 23px 0 0 23px;
}
/* call to action */
.callToAction{
	background-image:linear-gradient(90deg, #494949 50%, #2BC8FF 50%);
}
.callToAction .row{
	overflow: hidden;
}
.callToAction a{
	color:#fff;
}
.forUsers{
	background:#494949 url('../images/call-arrow-l.png') no-repeat left 40px;
}
.forEmployer{
	background:#2BC8FF url('../images/call-arrow-r.png') no-repeat right 40px;
}
/* .forUsers .fa{
	float: left;
} */
.callToAction .forUsers,
.callToAction .forEmployer{
	padding-top: 40px;
	padding-bottom: 540px;
	margin-bottom: -500px;
}
.callToAction .forUsers{ padding-left: 56px; }
.callToAction .forEmployer{padding-right: 56px;}
.callToAction .forUsers h2,
.callToAction .forUsers p{ padding-left: 110px; }
.callToAction .forEmployer h2,
.callToAction .forEmployer p{ padding-right: 110px; }
.callToAction .forUsers p + .fa,
.callToAction .forEmployer p + .fa{
	font-size: 128px;
    position: absolute;
    top: 40px;
}
.callToAction .forUsers p + .fa{left: 56px;}
.callToAction .forEmployer p + .fa{right: 39px;}
.callToAction .forUsers span { background-color:#fff; color:#494949; }
.callToAction .forEmployer span { background-color:#fff; color:#30A8D4; }

.testimonial{
	background-color:HSL(0, 0%, 91%);
}
.testimonial .thumbnail{
	background-color:transparent;
	border:none;
	box-shadow:none;
}
.testimonial .pic{
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	overflow: hidden;
	border-radius:50%;
	position: relative;
}
@media screen and (max-width:767px){
	.testimonial .pic{
		width: 70%;
		padding-bottom: 70%;
		margin: auto;
	}
}
.testimonial .pic img{
	position: absolute;
	width: auto;
	height: 100%;
}
.testimonialSlider .left,
.testimonialSlider .right{ background-image:none;}
.howIt{
	background-color:HSL(13, 91%, 59%);
}
.howItTxt{
	padding-bottom: 26.673504274%;
	height: 0;
	color:#fff;
}
@media screen and (max-width:767px){
	.howItTxt{
		padding-bottom: 40px;
		height: auto;
		color:#fff;
	}
}
.howItTxt > .vam{
	position: absolute;
	height: 100%;
	/* width: 100%; */
}
@media screen and (max-width:767px){
	.howItTxt > .vam{
		position: relative;
		height: auto;
		/* width: 100%; */
	}
}
.testimonial,
.featuredEmployer,
.news{
	padding-bottom: 40px;
}
.news{
	background-color:#30A8D4;
	color:#fff;
}
.testimonial h2,
.featuredEmployer h2,
.news h2{
	padding: 30px 0;
	font-size: 48px;
}
.featuredEmployer li{
	margin-bottom: 20px;
}
.testimonial h3{
	text-align: center;
	font-size: 18px;
}
.newsItem{
	margin-bottom: 20px;
}
.newsItem h3{
	margin-top: 0;
}


.linePieChart{
	position: relative;
	border-bottom:1px solid #b4b4b4;
}

.linePieChart .itemCol{
	float: left;
	position: relative;
	box-sizing:border-box;
	padding:0 15px;
	width: 12.5%;
	text-align: center;
	padding-bottom: 30px;
}
@media screen and (min-width:768px){
	.linePieChart .itemCol:nth-child(6){ left: 25%; }
	.linePieChart .itemCol:nth-child(7){ left: -12.5%; }
	.linePieChart .itemCol:nth-child(8){ left: -12.5%; }
}
@media screen and (max-width:767px){
	.linePieChart .itemCol{
		width: 33.333333%;
		padding-bottom: 0;
	}
}
.itemCol.active:before,
.itemCol.active:after{
	content:'';
	position: absolute;
	width: 0;
	height: 0;
	bottom: -1px;
	left: 0;
	right: 0;
	margin: auto;
	border-bottom:20px solid #FFF;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}
@media screen and (max-width:767px){
	.itemCol.active:before,
	.itemCol.active:after{
		display:none;
	}
}
.itemCol.active:before{
	border-bottom: 22px solid #b4b4b4;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
}
.linePieChart .itemCol a{
	display:block;
	text-decoration: none;
	color:#aaa;
	opacity:.5;
	transform:scale(.9);
	transition:opacity .3s, transform .3s;
}
.linePieChart .lineCircle{
	width: 100%;
	height: 0;
	padding-bottom: 100%;
}

.linePieChart .itemCol .vam{
	padding-top: .4em;
	height: 3em;
}
.linePieChart .itemCol a:hover,
.linePieChart .itemCol.active a{
	color:#2fa8d4;
	opacity:1;
	transform:scale(1.1);
}
.jobListItem{
	border:1px solid #9d9d9d;
	padding-top: 15px;
	padding-bottom: 10px;
}
@media screen and (max-width:767px){
	.jobListItem{
		padding-bottom: 60px;
	}
}
.jobListItem + .jobListItem{
	margin-top: 20px;
}
.jobListFeatures{
	position: absolute;
	bottom: 10px;
	left: -1.3em;
	font-size: 21px;
}
@media screen and (max-width:767px){
	.jobListFeatures{
		left: 0.3em;
	}
}
.jobDetailInfo{
	position: relative;
}
.jobListFeatures a{
	color:#A2A2A2;
}
.jobListFeatures .keep{}
.jobListFeatures .share{}
.jobListFeatures .bonus{ position: relative; }
.jobListFeatures .keep a:hover,
.jobListFeatures .keep.active a{ color:#DEC800; }
.jobListFeatures .share a:hover,
.jobListFeatures .share.active a{ color:#4E8AB4; }
.jobListFeatures .bonus a:hover,
.jobListFeatures .bonus.active a{ color:#CE9900; }
.jobListFeatures .bonus ul{
	display: block;
    position: absolute;
    background-color: #CE9900;
    color: #fff;
    width: 6em;
    height: 26px;
    left: 1.3em;
    padding-left: 10px;
    top: 3px;
    line-height: 15px;
}
.jobListFeatures .bonus ul:before{
	content:'';
	width: 0;
	height: 0;
	position: absolute;
	top: -5px;
	left: 0;
	border-left: 5px solid transparent;
	border-bottom:5px solid #A87900;
}
.jobListFeatures .bonus ul:after{
	content:'';
	position: absolute;
	right: -11px;
	border-right: 11px solid transparent;
	border-top: 13px solid #CE9900;
	border-bottom:13px solid #CE9900;
}
.jobListFeatures .bonus li{
	font-size:12px;
	padding: 0;
}
.jobListFeatures .bonus li + li:before{
	content:'/';
	padding-right: 1em;
}
.jobListFeatures .bonus span{ 
	display:inline-block; 
	vertical-align: middle;
	width: 0;
	overflow: hidden;
}
.jobListFeatures .bonus:hover ul{
	width: 300px;
	line-height: 19px;
}
.jobListFeatures .bonus:hover span{
	width: auto;
	padding-right: .5em;
}
.jobListFeatures .txt{ display:none; }
.companyLogo{
	height: 0;
	padding-bottom: 25%;
	position: relative;
}
.companyLogo .logoBlock{
	position: absolute;
	width: 90%;
	height: 90%;
	border:1px solid #9d9d9d;
	font-size: 0;
}
.companyLogo .logoBlock:before{
	content:'';
	display:inline-block;
	height: 100%;
	width: 1px;
	vertical-align: middle;
	margin-right: -1px;
}
.companyLogo .logoBlock img{
	display:inline-block;
	vertical-align:middle;
}
@media screen and (min-width:768px){
	/* .jobListFeatures *{ outline:1px solid #f00; } */
	.jobDetailInfo .jobListFeatures{
		width: 114px;
		left: auto;
		right: 50px;
		top: -29px;
	}
	.jobDetailInfo .jobListFeatures .bonus{
		background-color: #CE9900;
		margin-bottom: 20px;
	}
	.jobDetailInfo .jobListFeatures .bonus ul{
		background-color:transparent;
		position: relative;
		padding: 10px 0 0;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		margin-left: 0;
	}
	.jobDetailInfo .bonus .fa{
		display:none;
	}
	.jobDetailInfo .bonus ul:before{
		content:'';
		width: 0;
		height: 0;
		position: absolute;
		top: 0px;
		left: -8px;
		border-left: 8px solid transparent;
		border-bottom:8px solid #A87900;
	}
	.jobDetailInfo .bonus ul:after{
		content:'';
		position: absolute;
		left: 0;
		width: 0;
		height: 0;
		bottom: -11px;
		z-index: -1;
		border-top: none;
		border-bottom: 11px solid transparent;
		border-left: 57px solid #CE9900;
		border-right:57px solid #CE9900;
	}
	.jobDetailInfo .bonus ul li{
		width: 100%;
		text-align: center;
		color:#fff;
		display:block;
		font-size: 30px;	
	}
	.jobDetailInfo .bonus ul li + li:before{
		display:none;
	}
	.jobDetailInfo .bonus ul li span{
		display:block;
		width: 80%;
		margin: auto;
		font-size: 13px;
	}
	.jobDetailInfo .bonus ul li  + li span{
		border-top: 1px dotted #fff;
		padding-top: 6px;

	}
	.jobDetailInfo .keep  a,
	.jobDetailInfo .share a{
		display:block;
		font-size: 18px;
		text-align: center;
		border:1px solid #BBBBBB;
		margin-top: 6px;
		background-color:#fff;
	}
	.jobDetailInfo .jobListFeatures .txt{ display:inline-block; }
}
.jobPayroll{
	color:#b21f1f;
}
.jobsTags{
	padding-left: 1em;
	text-indent: -.4em;
	line-height: 1.8;
	color:#8a8a8a;
}
.jobDetailInfo .jobsTags{
	margin-right: 23%;
}
@media screen and (max-width:767px){
	.jobDetailInfo .jobsTags{
		margin-right: 0%;
	}
}
.jobsTags .fa{
	margin-right: .5em;
}
.jobsTags ul{
	display:inline;
	/* margin-left: 4px; */
	text-indent: 0em;
}
.jobsTags li,
.keyWords li{
	margin: 0 -2px 0 0	;
	padding: 0;
}
.jobsTags li + li:before,
.keyWords li + li:before{
	content:'„ÄÅ';
}
.jobsTags a{
	padding: 2px 6px;
	text-decoration: none;
	color:#8a8a8a;
	transition:.3s;
}
.jobDetailInfo .jobsTags a{
	color:#4D4D4D;
}
.jobsTags a:hover{
	background-color:#8a8a8a;
	color:#fff;
}
.keyWords{
	padding-top: 1em;
	line-height: 1.7;
	text-shadow: 0 0 2px #000;
}
.keyWords li,
.keyWords li a{
	color:#fff;
}
.searchBlock{
	background-image: url('../images/search-banner.jpg');
	background-size:cover;
	padding-top: 10%;
	padding-bottom: 6%;
}
.jobDetailBanner,
.employerHeader{
	background-size:cover;
	height: 0;
	padding-bottom: 10%;
}
@media screen and (max-width:767px){
	.searchBlock{
		padding-top: 60px;
	}
}
.serachJobs .inputSearch{
	border-radius:100px 0 0 100px;
}
.serachJobs .btnSearchDropdown.dropdown-toggle{
	border-radius:0 100px 100px 0;
	background-color:#fff;
	background-image:none;
}
.serachJobs .btnSearch{
	border-radius:50%;
}
@media screen and (max-width:767px){
	.serachJobs .btnSearch{
		display:block;
		margin-top: 20px;
		border-radius:50px;
		width: 100%;
	}
}
.postInfoGroup,
.postInfoGroup :before,
.jobListItem .jobSummary{
	color:#8A8A8A;
}
.postInfoGroup .companyName,
.postInfoGroup .companyName .fa:before{
	color:#000;
}
.postInfoGroup .postedFrom,
.postInfoGroup .postedFrom .fa:before{
	color:#4E8AB4;
}
.jobDetailInfo .postInfoGroup li{
	display:block;
	font-size: 18px;	
}
.jobDetailInfo .jobLocation{ color:; }
.jobDetailInfo .postedFrom{ color:#4E8AB4; }
.jobDetailInfo .deadline,
.jobDetailInfo .deadline .fa:before{ color:#E6821E; }
aside .jobListGroup{
	background-color:#f6f7f8;
	padding-bottom: 20px;
}
.jobListGroup + .jobListGroup{
	margin-top: 20px;
}
.jobListItemXs + .jobListItemXs{
	margin-top: 20px;
}
.jobListItemXs h3{
	margin: 0;
}
.jobListItemXs p{
	margin: 0;
}
.jobListItemXs .companyName,
.jobListItemXs .jobLocation{
	font-size: 14px;
}
.searchResultTitle .location{
	color:#8A8A8A;
	font-weight: 300;
}
.searchResultTitle .jobType{
	color:#B21E1F;
}
.searchResultTitle .location:before,
.searchResultTitle .jobType:before{
	content:'/';
	display:inline-block;
	padding: 0 10px;
}
.searchResultTitle .jobType:before{
	color:#8A8A8A;;
}
.page-header .filter a{
	color:#8A8A8A;
}
.filterOption{
	display:inline-block;
	margin-right: 20px;
}
@media screen and (min-width:768px){
	.jobListItem .postInfoGroup li + li:before{
		content:'/';
		padding-right: .7em;
	}
	.jobName .jobType,
	.jobName .remote{
		display:inline-block;
		font-size: 14px;
		color:#9d9d9d;
	}
	.jobName .jobType:before,
	.jobName .remote:before{
		content:'/';
		padding-right: .7em;
	}
}
.breadcrumb{margin: 0; background-color:transparent;}
.jobDetailPage .breadcrumb,
.employerDetailPage .breadcrumb{
	padding-top: 60px;
}
.jobDetailContent .jobSummary h2,
.jobDetailContent .jobDiscraption h2,
.employerDiscraption h2,
.employerDetailContent .jobs-list h2,
.employerMap h2,
.employerGallery h2{
	color:#B4B4B4;
}
.jobDetailContent .jobSummary p,
.jobDetailContent .jobDiscraption p,
.employerDiscraption p{
	padding: 20px;
	border:1px solid #B4B4B4;
	color:#B4B4B4;
}
.employerMap{
	padding-top: 30px;
}
.employerMap .active a{
	text-decoration: underline;
}
.employerHeader{
	padding-top: 50px;
	padding-bottom: 50px;
	height: auto;
}
.employerHeader h1{
	color:#fff;
	border-bottom:1px solid #fff;
	margin-top: 0;
	padding-bottom: 15px;
}
.employerDetailContent{
	padding-bottom: 50px;
}
.employerHeader .postInfoGroup,
.employerHeader .postInfoGroup a,
.employerHeader .jobsTags a,
.employerHeader .postInfoGroup :before,
.employerHeader .jobsTags :before{
	color:#fff;
	font-size: 18px;
}
.employerHeader .postInfoGroup ul{
	margin-bottom: 0;
}
.gllaeryPicList{
	font-size: 0;
	width: 100%;
	border:1px solid #b4b4b4;
	box-sizing:border-box;
	margin-left: 0;	
	margin-top: 10px;
}
.gllaeryPicList li{
	width: 16.666666665%;
	padding: 10px;
	box-sizing:border-box;
}