/* *{ outline:1px solid #f00; } */
.btn{
	border-radius:0;
}
footer{
	background-color:#333;
	color:#fff;
	padding-top: 40px;
}
footer h3{
	color:#9d9d9d;
	font-size: 18px;
}
footer a{
	color:#fff;
	text-decoration: none;
}
.copyRight{
	background-color:#000;
	color:#9d9d9d;
	font-size: 12px;
	line-height: 46px;
	height: 46px;
}
.footerAbout ul{
	-webkit-columns:2;
	-moz-columns:2;
	-ms-columns:2;
	-o-columns:2;
	columns:2;
}
.footerAbout li{
	line-height: 2;
}
.navbar-inverse .navbar-nav > li > a{
	color:#fff;
	font-weight: 100;
}
.mainNav{
	margin-bottom: 0;
	z-index: 10;
	background-image:none;
	background-color:rgba(0, 0, 0, .8);
}
.navbarList{
	padding-right: 10px;
}
.indexMap{
	width: 100%;
	height: 0;
	position: relative;
	padding-bottom: 42%;
}
.indexMap .map{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.indexMap .map iframe{
	width: 100%;
	height: 100%;
	border:none;
}
.mainSearch{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 46px;
}
.mainSearch .btn{
	background-color:transparent;
	color:#8a8a8a;
}
.mainSearch .input-group{
	height: 46px;
	border:1px solid #8a8a8a;
	border-radius: 23px;
	background-color:#fff;
	overflow: hidden;
}
.mainSearch .input-group .form-control{
	border:none;
	box-shadow:none;
	border-radius: 23px 0 0 23px;
}
/* call to action */
.callToAction .row{
	overflow: hidden;
}
.callToAction a{
	color:#fff;
}
.forUsers{
	background:#494949 url('../images/call-arrow-l.png') no-repeat left 40px;
}
.forEmployer{
	background:#494949 url('../images/call-arrow-r.png') no-repeat right 40px;
}
.forUsers .fa{
	float: left;
}
.callToAction .forUsers,
.callToAction .forEmployer{
	padding-top: 40px;
	padding-bottom: 540px;
	margin-bottom: -500px;
}
.testimonial{
	background-color:HSL(0, 0%, 91%);
}
.testimonial .thumbnail{
	background-color:transparent;
	border:none;
	box-shadow:none;
}
.testimonial .pic{
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	overflow: hidden;
	border-radius:50%;
	position: relative;
}
.testimonial .pic img{
	position: absolute;
	width: auto;
	height: 100%;
}
.testimonialSlider .left,
.testimonialSlider .right{ background-image:none;}
.howIt{
	background-color:HSL(13, 91%, 59%);
}
.howItTxt{
	padding-bottom: 26.673504274%;
	height: 0;
	color:#fff;
}
.howItTxt > .vam{
	position: absolute;
	height: 100%;
	/* width: 100%; */
}
.featuredEmployer li{
	margin-bottom: 20px;
}
.newsItem{
	margin-bottom: 20px;
}
.newsItem h3{
	margin-top: 0;
}


.linePieChart{
	position: relative;
	border-bottom:1px solid #b4b4b4;
}

.linePieChart .itemCol{
	float: left;
	position: relative;
	box-sizing:border-box;
	padding:0 15px;
	width: 12.5%;
	text-align: center;
	padding-bottom: 30px;
}
@media screen and (min-width:768px){
	.linePieChart .itemCol:nth-child(6){ left: 25%; }
	.linePieChart .itemCol:nth-child(7){ left: -12.5%; }
	.linePieChart .itemCol:nth-child(8){ left: -12.5%; }
}
@media screen and (max-width:767px){
	.linePieChart .itemCol{
		width: 33.333333%;
		padding-bottom: 0;
	}
}
.itemCol.active:before,
.itemCol.active:after{
	content:'';
	position: absolute;
	width: 0;
	height: 0;
	bottom: -1px;
	left: 0;
	right: 0;
	margin: auto;
	border-bottom:20px solid #FFF;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}
@media screen and (max-width:767px){
	.itemCol.active:before,
	.itemCol.active:after{
		display:none;
	}
}
.itemCol.active:before{
	border-bottom: 22px solid #b4b4b4;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
}
.linePieChart .itemCol a{
	display:block;
	text-decoration: none;
	color:#aaa;
	opacity:.5;
	transform:scale(.9);
	transition:opacity .3s, transform .3s;
}
.linePieChart .lineCircle{
	width: 100%;
	height: 0;
	padding-bottom: 100%;
}

.linePieChart .itemCol .vam{
	padding-top: .4em;
	height: 3em;
}
.linePieChart .itemCol a:hover,
.linePieChart .itemCol.active a{
	color:#2fa8d4;
	opacity:1;
	transform:scale(1.1);
}
.jobListGroup{
	background-color:#eee;
}
.jobListItem{
	border:1px solid #9d9d9d;
}
.jobPayroll{
	color:#b21f1f;
}
.jobsTags{
	padding-left: 1em;
	text-indent: -.4em;
	line-height: 1.8;
	color:#8a8a8a;
}
.jobsTags .fa{
	margin-right: .5em;
}
.jobsTags ul{
	display:inline;
	/* margin-left: 4px; */
	text-indent: 0em;
}
.jobsTags li{
	margin: 0 -2px 0 0	;
	padding: 0;
}
.jobsTags li + li:before{
	content:'、';
}
.jobsTags a{
	padding: 3px 8px;
	text-decoration: none;
	color:#8a8a8a;
	transition:.3s;
}
.jobsTags a:hover{
	background-color:#8a8a8a;
	color:#fff;
}
@media screen and (min-width:768px){
	.postInfoGroup li + li:before{
		content:'/';
		padding-right: .7em;
	}
	.jobName .jobType,
	.jobName .remote{
		display:inline-block;
		font-size: 14px;
		color:#9d9d9d;
	}
	.jobName .jobType:before,
	.jobName .remote:before{
		content:'/';
		padding-right: .7em;
	}
}