.testimonial{
	background-color:HSL(0, 0%, 91%);
}
.testimonial .pic{
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	overflow: hidden;
	border-radius:50%;
	position: relative;
}
.testimonial .pic img{
	position: absolute;
	width: auto;
	height: 100%;
}
.testimonialSlider .left,
.testimonialSlider .right{ background-image:none;}
.howIt{
	background-color:HSL(13, 91%, 59%);
}
.featuredEmployer li{
	margin-bottom: 20px;
}
.newsItem{
	margin-bottom: 20px;
}
.newsItem h3{
	margin-top: 0;
}